<%= form_with(model: faculty, local: true) do |form| %>
  <% if faculty.errors.any? %>
    <%= render 'shared/error_messages', resource: faculty%>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar formulario", class: "btn btn-success btn-index-create" %>
  </div>
<% end %>
