<p>
  <strong>Codigo:</strong>
  <%= @user.code %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nombre(s):</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido(s):</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Tipo de documento:</strong>
  <%= @user.identification_type.description %>
</p>

<p>
  <strong>Numero de documento:</strong>
  <%= @user.document_number %>
</p>

<p>
  <strong>Numero de contacto:</strong>
  <%= @user.contact_number %>
</p>

<p>
  <strong>Programa academico:</strong>
  <%= @user.academic_program.name %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @user.academic_program.faculty.name %>
</p>

<%= link_to 'Editar usuario', edit_user_path(@user) %> |
<% if current_user.has_role? :director_de_comite%>
  <%= link_to 'Atras', users_path %>
<% else %>
<%= link_to 'Atras', authenticated_root_path %>
<% end %>
