<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @user.code %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% if current_user.has_role? :director_de_comite%>
  <%= link_to 'Back', users_path %>
<% else %>
<%= link_to 'Back', authenticated_root_path %>
<% end %>
