<p id="notice"><%= notice %></p>

<h1>Academic Departaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_departaments.each do |academic_departament| %>
      <tr>
        <td><%= academic_departament.name %></td>
        <td><%= academic_departament.code %></td>
        <td><%= link_to 'Show', academic_departament %></td>
        <td><%= link_to 'Edit', edit_academic_departament_path(academic_departament) %></td>
        <td><%= link_to 'Destroy', academic_departament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic Departament', new_academic_departament_path %>
