<div class="login-box login-box-custom">
  <div class="login-logo-title">
    <p href="#"><b>Surveyor </b>UFPS</p>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Introduce tu nueva contraseña.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group form-icons">
        <span class="fas fa-lock"></span>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" , placeholder: "Contraseña (Mínimo 6 caracteres)"%>
      </div>

      <div class="form-group form-icons">
        <span class="fas fa-lock"></span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirma tu contraseña" %>
      </div>


      <div class="d-flex justify-content-center">
        <%= f.submit "Cambiar contraseña", class: "btn btn-danger btn-custom-login" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center links-custom">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
