<div class="login-box login-box-custom">
  <div class="login-logo-title">
    <p href="#"><b>Surveyor </b>UFPS</p>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Para restablecer su clave de usuario complete el siguiente formulario.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group form-icons">
        <span class="fas fa-inbox"></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Correo electronico" %>
      </div>


      <div class="d-flex justify-content-center">
        <%= f.submit "Recuperar contraseña", class: "btn btn-danger btn-custom-login" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center links-custom">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
