<%= form_with(model: academic_program, local: true) do |form| %>
  <% if academic_program.errors.any? %>
    <%= render 'shared/error_messages', resource: academic_program%>
  <% end %>

  <div class="field">
    <%= form.label :faculty_id %>
    <%= form.select "faculty_id", options_from_collection_for_select(Faculty.all, "id", "name") %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar formulario", class: "btn btn-success btn-index-create" %>
  </div>
<% end %>
