<p>
  <strong>Name:</strong>
  <%= @academic_program.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @academic_program.code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @academic_program.email %>
</p>

<%= link_to 'Editar', edit_academic_program_path(@academic_program) %> |
<%= link_to 'Atras', academic_programs_path %>
