<!DOCTYPE html>
<html>
  <head>
    <title>SurveyorUfps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'icon.png' %>
  </head>

  <body class="sidebar-mini">
    <div class="wrapper">
      <%= render partial: "shared/header" %>
      <%= render partial: "shared/sidebar" %>
      <div class="content-wrapper">
        <div class="pt-4">
          <%= render 'shared/alert' %>
        </div>
        <%= yield %>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
