<!DOCTYPE html>
<html>
  <head>
    <title>SurveyorUfps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar-mini">
    <div class="wrapper">
      <%= render partial: "shared/header" %>
      <%= render partial: "shared/sidebar" %>
      <div class="content-wrapper">
        <%= render 'shared/alert' %>
        <%= yield %>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
